.contain-general {
    width: auto;
    gap: 40px;
}

.contain-intro {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    gap: 16px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
    letter-spacing: 2%;
}

.introtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 2%;
}

.contain-movies {
    display: flex;
    flex-direction: row; 
}

.pagination-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    padding: 16px 0;
}

.pagination-buttons {
    display: flex;
    width: 337px;
    height: 39px;
    gap: 16px;
}

.buttons {
    font-family: Arial, Helvetica, sans-serif;
    width: 160.5px;
    height: 39px;
    border: 1px solid #4C42E4;
    border-radius: 8px;
    padding: 8px, 24px;
    color: #4C42E4;
    opacity: 50%; /* Cambiar por tema de seleccion */
    transition: background-color 0.3s, opacity 0.3s;
}